@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family==Dancing+Script');

body {
  font-family: 'Montserrat', sans-serif;
}

#disLikeButton {
  width: 100px;
  height: 100px;
}

#likeButton {
  width: 100px;
  height: 100px;
  color: #fb4444;
}

#matchButtons {
  margin-top: 20px;
}
