#matchesList {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ff8686;
  min-height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  padding: 0px;
  background-color: #fdc7c7;
  overflow-y: auto;
}

#chatPageContent {
  display: flex;
  align-items: flex-start;
}

#userChatLink {
  border: solid 2px #ff8686;
  margin: 0px;
  padding: 10px 5px 10px 5px;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

#userChatLink:hover {
  background-color: #ff8686;
  color: #ffffff;
}

#chatWindow {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ff8686;
  margin-top: 50px;
  margin-left: 50px;
  overflow-y: auto;
}

.selectedColor.clicked {
  background-color: #ff8686;
}

#selectChat-info {
  color: #fb4444;
  font-size: 20px;
}

#noMatches {
  color: #ffffff;
}

@media (min-width: 800px) {
  #chatPageContent {
    flex-direction: row;
  }

  #matchesList {
    width: 30%;
  }

  #chatWindow {
    width: 70%;
  }
}

@media (max-width: 799px) {
  #chatPageContent {
    flex-direction: column;
  }

  #matchesList {
    width: 50%;
  }

  #chatWindow {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #matchesList {
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
  }
}
