#loginBackground {
  background-image: linear-gradient(#fb4444, rgba(255, 255, 255, 0.7)), url('../images/love.png');
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#loginLogo {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #ffffff;
}

#loginFormGrid {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10%;
}

#loginButton {
  background-color: #fdc7c7;
  margin-top: 30px;
}

#signupLink {
  color: #fb4444;
}

#signupLinkInfo {
  margin-top: 30px;
}

#loginTitle {
  color: #fb4444;
  font-size: 26px;
  margin-bottom: 35px;
}

#username {
  width: 220px;
}

#password {
  width: 220px;
}

span {
  font-family: 'Dancing Script', cursive;
  font-size: 62px;
}

#loginErrorMessage {
  color: red;
  padding: 0px;
}

.customTextField .MuiInputLabel-root.Mui-focused {
  color: #fb4444;
}

.customTextField .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #fdc7c7;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  #loginBackground {
    background-image: linear-gradient(#fb4444, rgba(255, 255, 255, 0.7)), url('../images/love.png');
    /* Ensure other background properties are reset if necessary */
    background-size: auto;
    background-position: initial;
    background-repeat: repeat;
    height: 30vh;
  }

  .customTextField,
  #loginButton {
    width: 100%; /* Full-width inputs and button on smaller screens */
  }

  #loginFormGrid {
    height: 70vh;
  }
}
