#registerBackground {
  background-image: linear-gradient(#fb4444, rgba(255, 255, 255, 0.7)), url('../images/love.png');
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#registerLogo {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #ffffff;
}

#registerFormGrid {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10%;
}

#signupButton {
  background-color: #fdc7c7;
  margin-top: 30px;
}

#loginLink {
  color: #fb4444;
}

#loginLinkInfo {
  margin-top: 30px;
}

#signupTitle {
  color: #fb4444;
  font-size: 26px;
  margin-bottom: 35px;
}

#usernameRegister {
  width: 220px;
}

#passwordRegister {
  width: 220px;
}

#emailRegister {
  width: 220px;
}

span {
  font-family: 'Dancing Script', cursive;
  font-size: 62px;
}

#registerErrorMessage {
  color: red;
  padding: 0px;
}

.customTextField .MuiInputLabel-root.Mui-focused {
  color: #fb4444;
}

.customTextField .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #fdc7c7;
}
