#userCard {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ff8686;
}

#userCardTitle {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff8686;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}

#userCardContent {
  border-radius: '0px 0px 10px 10px';
  padding: 15px;
}
